#mainheader {margin-top:1rem; margin-bottom:1rem}
.edit, #mainheader .action{ float:right }
.divider { border-top:1px solid slategrey}
.full-bar {width:100%; background:black; padding-top:15px; padding-bottom:15px; border-bottom:1px solid #666}
body{background:#111;}

