{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nieuw Recept{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
        <label for="titel">Titel</label>
        <input class="form-control"  name="titel" id="titel" value="{{ request.form['titel'] }}" required>
    </div>
    <div class="form-group">
        <label for="ingredienten">Ingredienten</label>
        <textarea rows="10" class="form-control" name="ingredienten" id="ingredienten">{{ request.form['ingredienten'] }}</textarea>
    </div>
      <div class="form-group">
   <label for="personen">Aantal Personen / porties</label>
    <input class="form-control"  name="personen" id="personen" value="{{ request.form['personen'] }}">
    </div>
  <div class="form-group">
    <label for="tijd">Bereidingstijd (minuten)</label>
    <input class="form-control" name="tijd" id="tijd" value="{{ request.form['tijd'] }}">
    </div> 
 <div class="form-group">
    <label for="bereiding">Bereiding</label>
    <textarea rows="10" class="form-control" name="bereiding" id="bereiding">{{ request.form['bereiding'] }}</textarea>
 </div>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
{% endblock %}


