{% extends 'base.html' %}

{% block header %}
    {% if g.user %}
    <a class="btn btn-info action" href="{{ url_for('recept.create') }}">Nieuw</a>
      {% endif %}

    <h1>{% block title %}Recepten{% endblock %}</h1>
  {% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="recept row">
        <div class="col-9">
          <h2><a class="action" href="{{ url_for('recept.recept', id=post['id']) }}">{{ post['titel'] }}</a></h2>
        </div>
        <div class="about col-3">{{ post['username'] }}: {{ post['created'].strftime('%Y-%m-%d') }}
        {% if g.user['id'] == post['auteur_id'] %}
          <a class="action edit btn btn-info" href="{{ url_for('recept.update', id=post['id']) }}">Edit</a>
        {% endif %}
        </div>
    </article>
    <hr class="divider" />
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


