{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['titel'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Ingredienten</h2>
    <div class="ingredienten">{{ post['ingredienten']|safe}}</div>
   <h2 class="personen">Aantal Personen / porties</h2>
    <p class="personen">{{ post['personen'] }}</p>
    <h2 class="tijd">Bereidingstijd (minuten)</h2>
    <p class="tijd">{{ post['tijd'] }}</p>
    <h2 class="bereiding">Bereiding</h2>
    <div class="bereiding">{{ post['bereiding']|safe }}</div>
 
  <hr>
{% endblock %}


