{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['titel'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
 
        <label for="titel">Titel</label>
        <input  class="form-control"  name="titel" id="titel" value="{{ request.form['titel']  or post['titel']}}" required>
    </div>
    <div class="form-group">
 
    <label for="ingredienten">Ingredienten</label>
    <textarea  class="form-control" rows="10" name="ingredienten" id="ingredienten">{{ request.form['ingredienten'] or post['ingredienten']}}</textarea>
    </div>
    <div class="form-group">
 
   <label for="personen">Aantal Personen / porties</label>
    <input  class="form-control" name="personen" id="personen" value="{{ request.form['personen'] or post['personen'] }}">
    </div>
      
    <div class="form-group">
    <label for="tijd">Bereidingstijd (minuten)</label>
    <input  class="form-control" name="tijd" id="tijd" value="{{ request.form['tijd'] or post['tijd'] }}">
    </div>

    <div class="form-group">
    <label for="bereiding">Bereiding</label>
    <textarea  class="form-control" rows="10"  name="bereiding" id="bereiding">{{ request.form['bereiding'] or post['bereiding'] }}</textarea>
    </div> 
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
  <hr class="divider">
  <form action="{{ url_for('recept.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}


