{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recepten zoeken {% endblock %}</h1>
{% endblock %}

{% block content %}

    {% if result.response.numFound > 0 %}
        <h2><strong>{{result.response.numFound}} result{% if result.response.numFound > 1 %}aten{% else %}aat{% endif %}</strong></h2>
        <hr class="divider" />
        {% for doc  in result.response.docs %}
            <article>
            <h3><a href="{{ url_for('recept.recept', id=doc['id']) }}">{{doc.titel}}</a></h3>
                <p>{{ doc.username }},  {{ doc.created }} </p>
           </article> 

        <hr class="divider" />
       {% endfor %}
    {% else %}
         <p>Niks gevonden helaas...</p>
    {% endif %}
{% endblock %}
